# idea ignore
.idea/
*.ipr
*.iml
*.iws

# eclipse ignore
.settings/
.project
.classpath

# vs code ignore
.vscode/
.factorypath

# system ignore
.DS_Store
Thumbs.db

# node
dist/
node_modules/
yarn.lock